@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 55px;
    margin-bottom: 20px;
    color: #ffffff; /* Color cálido para el encabezado */
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/fondoprinc.jpeg);
    background-attachment: fixed;
  }
  
  h2 {
    font-size: 55px;
    margin-top: 40px;
    color: #7a4b3a; /* Color para los subencabezados */
    border-bottom: 2px solid #b65e2b;
    padding-bottom: 10px;
  }
  
  .menu-section {
  text-align: center; /* Centra imágenes y texto */
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto; /* Para centrar usando márgenes automáticos */
  display: block; /* Asegura que la imagen se trate como un bloque */
}

.button-container {
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #b65e2b; /* Color de fondo */

    color: white;              /* Color del texto */
    border: none;              /* Sin borde */
    border-radius: 5px;       /* Bordes redondeados */
    padding: 10px 20px;       /* Espaciado interno */
    font-size: 1em;             
    font-weight: 400;         
    cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición */
  }
  
  .back-button:hover {
    background-color: #7a4b3a; /* Color de fondo al pasar el ratón */
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  }

